<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Students</h1>

    <ul>
    {{#students}}
      <li>{{name}}</li>
    {{/students}}
    </ul>

  </body>
</html>
