<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Teachers go here</h1>

    <ul>
    {{#teachers}}
      <li>{{name}} (age: {{age}})</li>
    {{/teachers}}
    </ul>

  </body>
</html>
